.profile-div {
    text-align: center;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: #ff0004;
}

.header ul li.right {
    margin-left: auto;
}

.header ul li {
    position: relative;
    list-style: none;
}

.header ul li a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}

.header ul li a:hover {
    background: #cd231d;
}

.header ul li button {
    font-family: inherit;
    font-size: 14px;
}

.profile-button {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #ff0004;
    font-size: 16px;
}

.profile-button:hover {
    background-color: #cd231d;
}

#user-info {
    width: 320px;
    margin: 40px auto;
    padding: 25px;

    background: #fff;
    border-radius: 16px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    text-align: center;
    font-family: Arial, sans-serif;

    transition: transform 0.2s ease;
}

#user-info:hover {
    transform: translateY(-5px);
}